* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #acc9eb;
}
.todo-container {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  width: 600px;
  transform: translate(-50%, -50%);
  background: rgba(16, 18, 131, 0.2);
  border-radius: 20px;
  align-items: center;
}
.todo {
  width: 400px;
}
.todo-container h2 {
  padding: 10px;
  font-family: "Candal", sans-serif;
  font-size: 2em;
}
button {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  font-family: "Candal", sans-serif;
  background-color: rgba(42, 44, 171);
}
